.featurette-divider {
    margin: 5rem 0; 
  }
  
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  
    .featurette-heading {
      font-size: 50px;
    }
  
  
  @media (min-width: 62em) {
    .featurette-heading {
      margin-top: 7rem;
    }